<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ezeqlabs.selltimer">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ClientesActivity"
            android:label="@string/title_activity_clientes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CadastroClientesActivity"
            android:label="@string/title_activity_cadastro_clientes" />
        <activity
            android:name=".DetalheClienteActivity"
            android:label="@string/title_activity_detalhe_cliente" />
        <activity
            android:name=".DetalheContatoActivity"
            android:label="@string/title_activity_detalhe_contato" />
        <activity
            android:name=".CadastroContatoActivity"
            android:label="@string/title_activity_cadastro_contato" />
        <activity
            android:name=".SobreActivity"
            android:label="@string/title_activity_sobre"/>

        <receiver android:name=".service.AlarmeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.NotificacaoService" />
    </application>

</manifest>